body {
    font-size:16px;
    color:#808080;
    line-height:28px;
    font-weight:400;
    background:#ffffff;
    font-family: 'Work Sans', sans-serif;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;
    -webkit-font-smoothing: antialiased;
  }
  
    @media (min-width:1200px) {
    .container {
      max-width: 1170px;
      padding: 0px 15px;
    }
  }
  
  .large-container{
    max-width: 1450px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  
  .container-fluid{
    padding: 0px;
  }
  
  .auto-container{
    position:static;
    max-width:1200px;
    padding:0px 15px;
    margin:0 auto;
  }
  
  .small-container{
    max-width:680px;
    margin:0 auto;
  }
  
  .boxed_wrapper{
    position: relative;
    margin: 0 auto;
    overflow: hidden !important;
    width: 100%;
    min-width: 300px;
  }
  
  
  a{
    text-decoration:none;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
  }
  
  a:hover{
    text-decoration:none;
    outline:none;
  }
  
  input,button,select,textarea{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
  }
  
  ul,li{
    list-style:none;
    padding:0px;
    margin:0px; 
  }
  
  input{
    transition: all 500ms ease;
  }
  
  button:focus,
  input:focus,
  textarea:focus{
    outline: none;
    box-shadow: none;
    transition: all 500ms ease;
  }
  
  p{
    position: relative;
    font-family: 'Work Sans', sans-serif;
    color: #808080;
    font-weight: 400;
    margin: 0px;
    transition: all 500ms ease;
  }
  
  h1,h2,h3,h4,h5,h6{
    position:relative;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #061a3a;
    margin: 0px;
    transition: all 500ms ease;
  }

  /** button **/

.theme-btn{
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #fff !important;
    text-align: center;
    padding: 17.5px 41.5px;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0px 15px 25px 0px rgba(255,124,91,0.3);
    transition: all 500ms ease;
  }
  
  .theme-btn:hover{
    background: #061a3a;
  }
  
  .theme-btn:before{
    webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: 110%;
    left: 50%;
    background: #061a3a;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
  }
  
  .theme-btn:hover:before{
    top: -40%;
  }
  
  .theme-btn-two{
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #061a3a;
    border: 1px solid #e4e8e9;
    text-align: center;
    padding: 16.5px 41.5px;
    border-radius: 4px;
    z-index: 1;
    transition: all 500ms ease;
  }
  
  .theme-btn-two:hover{
    color: #ffffff;
    box-shadow: 0px 15px 25px 0px rgba(255,124,91,0.3);
  }
  
  .theme-btn-two:before{
    webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: 110%;
    left: 50%;
    background: #ff7c5b;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
  }
  
  .theme-btn-two:hover:before{
    top: -40%;
  }
  
  
  .pagination{
    position: relative;
    display: block;
  }
  
  .pagination li{
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  
  .pagination li:last-child{
    margin: 0px !important;
  }
  
  .pagination li a{
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: #ffffff;
    text-align: center;
    color: #061a3a;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.08);
    transition: all 500ms ease;
  }
  
  .pagination li a:hover,
  .pagination li a.current{
    color: #fff;
    box-shadow: 0px 15px 25px 0px rgba(255,124,91,0.3);
  }
  
  .pagination li a i{
    font-weight: 700;
  }
  
  .sec-pad{
    padding: 144px 0px 150px 0px;
  }
  
  .sec-pad-2{
    padding: 150px 0px;
  }
  
  .mr-0{
    margin: 0px !important;
  }
  
  .scroll-top{
    width: 55px;
    height: 55px;
    line-height: 64px;
    position: fixed;
    bottom: 105%;
    right: 30px;
    font-size: 40px;
    z-index: 99;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 1s ease;
  }
  
  .scroll-top.open {
    bottom: 50px;
  }
  
  .scroll-top span{
    color: #fff;
  }
  
  .sec-title{
    position: relative;
    display: block;
    margin-bottom: 50px;
  }
  
  .sec-title p{
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 28px;
    color: #808080;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2px;
  }
  
  .sec-title h2{
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
  }
  
  .sec-title.light p,
  .sec-title.light h2{
    color: #ffffff;
  }
  