body {
    font-size:16px;
    color:#808080;
    line-height:28px;
    font-weight:400;
    background:#ffffff;
    font-family: 'Work Sans', sans-serif;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;
    -webkit-font-smoothing: antialiased;
  }
  
    @media (min-width:1200px) {
    .container {
      max-width: 1170px;
      padding: 0px 15px;
    }
  }
  
  .large-container{
    max-width: 1450px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  
  .container-fluid{
    padding: 0px;
  }
  
  .auto-container{
    position:static;
    max-width:1200px;
    padding:0px 15px;
    margin:0 auto;
  }
  
  .small-container{
    max-width:680px;
    margin:0 auto;
  }
  
  .boxed_wrapper{
    position: relative;
    margin: 0 auto;
    overflow: hidden !important;
    width: 100%;
    min-width: 300px;
  }
  
  
  a{
    text-decoration:none;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
  }
  
  a:hover{
    text-decoration:none;
    outline:none;
  }
  
  input,button,select,textarea{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
  }
  
  ul,li{
    list-style:none;
    padding:0px;
    margin:0px; 
  }
  
  input{
    transition: all 500ms ease;
  }
  
  button:focus,
  input:focus,
  textarea:focus{
    outline: none;
    box-shadow: none;
    transition: all 500ms ease;
  }
  
  p{
    position: relative;
    font-family: 'Work Sans', sans-serif;
    color: #808080;
    font-weight: 400;
    margin: 0px;
    transition: all 500ms ease;
  }
  
  h1,h2,h3,h4,h5,h6{
    position:relative;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #061a3a;
    margin: 0px;
    transition: all 500ms ease;
  }

  /** button **/

.theme-btn{
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #fff !important;
    text-align: center;
    padding: 17.5px 41.5px;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0px 15px 25px 0px rgba(255,124,91,0.3);
    transition: all 500ms ease;
  }
  
  .theme-btn:hover{
    background: #061a3a;
  }
  
  .theme-btn:before{
    webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: 110%;
    left: 50%;
    background: #061a3a;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
  }
  
  .theme-btn:hover:before{
    top: -40%;
  }
  
  .theme-btn-two{
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #061a3a;
    border: 1px solid #e4e8e9;
    text-align: center;
    padding: 16.5px 41.5px;
    border-radius: 4px;
    z-index: 1;
    transition: all 500ms ease;
  }
  
  .theme-btn-two:hover{
    color: #ffffff;
    box-shadow: 0px 15px 25px 0px rgba(255,124,91,0.3);
  }
  
  .theme-btn-two:before{
    webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: 110%;
    left: 50%;
    background: #ff7c5b;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
  }
  
  .theme-btn-two:hover:before{
    top: -40%;
  }
  
  
  .pagination{
    position: relative;
    display: block;
  }
  
  .pagination li{
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  
  .pagination li:last-child{
    margin: 0px !important;
  }
  
  .pagination li a{
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: #ffffff;
    text-align: center;
    color: #061a3a;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.08);
    transition: all 500ms ease;
  }
  
  .pagination li a:hover,
  .pagination li a.current{
    color: #fff;
    box-shadow: 0px 15px 25px 0px rgba(255,124,91,0.3);
  }
  
  .pagination li a i{
    font-weight: 700;
  }
  
  .sec-pad{
    padding: 144px 0px 150px 0px;
  }
  
  .sec-pad-2{
    padding: 150px 0px;
  }
  
  .mr-0{
    margin: 0px !important;
  }
  
  .scroll-top{
    width: 55px;
    height: 55px;
    line-height: 64px;
    position: fixed;
    bottom: 105%;
    right: 30px;
    font-size: 40px;
    z-index: 99;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 1s ease;
  }
  
  .scroll-top.open {
    bottom: 50px;
  }
  
  .scroll-top span{
    color: #fff;
  }
  
  .sec-title{
    position: relative;
    display: block;
    margin-bottom: 50px;
  }
  
  .sec-title p{
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 28px;
    color: #808080;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2px;
  }
  
  .sec-title h2{
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
  }
  
  .sec-title.light p,
  .sec-title.light h2{
    color: #ffffff;
  }

  /** main-header **/

.main-header{
    position:relative;
    left:0px;
    top:0px;
    z-index:999;
    width:100%;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
  }
  
  .sticky-header{
    position:fixed;
    opacity:0;
    visibility:hidden;
    left:0px;
    top:0px;
    width:100%;
    z-index:0;
    background: #061a3a;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
  }
  
  .fixed-header .sticky-header{
    z-index:999;
    opacity:1;
    visibility:visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -op-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
  .main-header .sticky-header .search-box-btn,
  .main-header .sticky-header .menu-right-content .user-link a{
    box-shadow: none;
  }
  
  .main-header.style-one{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    background: transparent;
  }
  
  .main-header .outer-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .main-header .logo-box{
    position: relative;
    padding: 36px 0px;
  }
  
  .main-header .logo-box .logo{
    position: relative;
    max-width: 126px;
    width: 100%;
  }
  
  .main-header .logo-box .logo img{
    width: 100%;
  }
  
  .main-header .menu-right-content li{
    position: relative;
    display: inline-block;
  }
  
  .main-header .menu-right-content .user-link a{
    position: relative;
    font-size: 24px;
    color: #061a3a;
    cursor: pointer;
    display: inline-block;
    background: #ffffff;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 10px 20px 0px rgba(255,124,91,0.3);
    transition: all 500ms ease;
  }
  
  .main-header .menu-right-content .user-link a:hover{
    color: #fff;
  }
  
  
  /** search box btn **/
  
  .main-header .search-box-outer{
    margin-right: 7px;
  }
  
  .main-header .search-box-btn{
    position: relative;
    font-size: 18px;
    color: #061a3a;
    cursor: pointer;
    display: inline-block;
    background: #ffffff;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 15px 25px 0px rgba(255,124,91,0.4);
    transition: all 500ms ease;
  }
  
  .main-header .search-box-btn:hover{
    color: #fff;
  }
  
  .main-header .search-box-outer .dropdown-menu {
    top: 55px !important;
    padding: 0px;
    width: 330px;
    border-radius: 0px;
    right: 0;
    left: auto !important;
    transform: translate3d(0px, 0px, 0px) scale3d(0.8,0.8,0.8) !important;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: 7px 5px 30px 0 rgba(72,73,121,0.15);
    transition: .5s ease;
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  
  .main-header .search-box-outer .show .dropdown-menu {
    display: block;
    transform: scale3d(1,1,1)!important;
    opacity: 1;
    visibility: visible;
  }
  
  .main-header .search-panel .form-container{
    padding: 30px;
  }
  
  .main-header .search-panel .form-group {
    position: relative;
    margin: 0px;
  }
  
  .main-header .search-panel input[type="text"],
  .main-header .search-panel input[type="search"],
  .main-header .search-panel input[type="password"],
  .main-header .search-panel select {
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 9px 50px 9px 15px;
    height: 50px;
    border: 1px solid #f3f5fe;
    border-radius: 3px;
    background: #f3f5fe;
  }
  
  .main-header .search-panel input:focus,
  .main-header .search-panel select:focus {
    border-color: #f3f5fe;
  }
  
  .main-header .search-panel .search-btn {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 50px;
    height: 48px;
    text-align: center;
    color: #111111;
    background: #f3f5fe;
    font-size: 14px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  



  /** main-menu **/

.main-menu{
    float: left;
  }
  
  .main-menu .navbar-collapse{
    padding:0px;
    display:block !important;
  }
  
  .main-menu .navigation{
    margin:0px;
  }
  
  .main-menu .navigation > li{
    position:inherit;
    float:left;
    z-index:2;
    padding:35px 0px;
    margin: 0px 20px;
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease;
  }
  
  .main-menu .navigation > li:last-child{
    margin-right:0px !important;
  }
  
  .main-menu .navigation > li:first-child{
    margin-left: 0px !important;
  }
  
  .main-menu .navigation > li > a{
    position:relative;
    display:block;
    text-align:center;
    font-size:17px;
    line-height:30px;
    font-family: 'Work Sans', sans-serif;
    font-weight:500;
    opacity:1;
    color: #fff;
    z-index:1;
    -webkit-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
  }
  
  .main-menu .navigation > li.current > a,
  .main-menu .navigation > li:hover > a{
    
  }
  
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > .megamenu{
    position:absolute;
    left: inherit;
    top:100%;
    width:230px;
    z-index:100;
    display:none;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0px;
    filter: alpha(opacity=0);
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.2);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  
  .main-menu .navigation > li > ul.from-right{
    left:auto;
    right:0px;  
  }
  
  .main-menu .navigation > li > ul > li{
    position:relative;
    width:100%;
    padding: 0px 30px;
    -webkit-transition: all 0.2s cubic-bezier(0.4,0.28,0.31,1.28) 0s;
    transition: all 0.2s cubic-bezier(0.4,0.28,0.31,1.28) 0s;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  
  .main-menu .navigation > li:hover > ul > li{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .main-menu .navigation > li > ul > li:nth-child(2n+1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  
  .main-menu .navigation > li > ul > li:nth-child(2n+2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  
  .main-menu .navigation > li > ul > li:nth-child(2n+3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  .main-menu .navigation > li > ul > li:nth-child(2n+4) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  
  .main-menu .navigation > li > ul > li:nth-child(2n+5) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .main-menu .navigation > li > ul > li:nth-child(2n+6) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
  
  .main-menu .navigation > li > ul > li:nth-child(2n+7) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  
  .main-menu .navigation > li > ul > li:nth-child(2n+8) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
  }
  
  .main-menu .navigation > li > ul > li:last-child{
    border-bottom:none; 
  }
  
  .main-menu .navigation > li > ul > li > a,
  .main-menu .navigation > li > .megamenu li > a{
    position:relative;
    display:block;
    padding:7px 0px;
    line-height:24px;
    font-weight:600;
    font-size:16px;
    font-family: 'Work Sans', sans-serif;
    text-transform:capitalize;
    color:#061a3a;
    text-align: left;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
  }
  
  .main-menu .navigation > li > ul > li > a:hover,
  .main-menu .navigation > li > .megamenu li > a:hover{
  
  }
  
  .main-menu .navigation > li > ul > li:last-child > a,
  .main-menu .navigation > li > .megamenu li:last-child > a{
    border-bottom: none;
  }
  
  .main-menu .navigation > li > ul > li.dropdown > a:after{
    font-family: 'Font Awesome 5 Pro';
    content: "\f105";
    position:absolute;
    right:20px;
    top:7px;
    display:block;
    line-height:24px;
    font-size:16px;
    font-weight:800;
    text-align:center;
    z-index:5;  
  }
  
  .main-menu .navigation > li > ul > li > ul{
    position:absolute;
    right:100%;
    top:0%;
    width:230px;
    z-index:100;
    display:none;
    padding: 10px 0px;
    filter: alpha(opacity=0);
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.2);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  
  .main-menu .navigation > li > ul > li > ul.from-right{
    left:auto;
    right:0px;  
  }
  
  .main-menu .navigation > li > ul > li > ul > li{
    position:relative;
    width:100%;
    padding: 0px 30px;
  }
  
  .main-menu .navigation > li > ul > li > ul > li{
    position:relative;
    width:100%;
    padding: 0px 30px;
    -webkit-transition: all 0.2s cubic-bezier(0.4,0.28,0.31,1.28) 0s;
    transition: all 0.2s cubic-bezier(0.4,0.28,0.31,1.28) 0s;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  
  .main-menu .navigation > li > ul > li:hover > ul > li{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .main-menu .navigation > li > ul > li > ul > li:nth-child(2n+1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  
  .main-menu .navigation > li > ul > li > ul > li:nth-child(2n+2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  
  .main-menu .navigation > li > ul > li > ul > li:nth-child(2n+3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  .main-menu .navigation > li > ul > li > ul > li:nth-child(2n+4) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  
  .main-menu .navigation > li > ul > li > ul > li:last-child{
    border-bottom:none; 
  }
  
  .main-menu .navigation > li > ul > li > ul > li:last-child{
    border-bottom:none; 
  }
  
  .main-menu .navigation > li > ul > li > ul > li > a{
    position:relative;
    display:block;
    padding:7px 0px;
    line-height:24px;
    font-weight:600;
    font-size:15px;
    font-family: 'Work Sans', sans-serif;
    text-transform:capitalize;
    color:#061a3a;
    text-align: left;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
  }
  
  .main-menu .navigation > li > ul > li > ul > li:last-child > a{
    border-bottom: none;
  }
  
  .main-menu .navigation > li > ul > li > ul > li > a:hover{
    
  }
  
  .main-menu .navigation > li > ul > li > ul > li.dropdown > a:after{
    font-family: 'Font Awesome 5 Pro';
    content: "\f105";
    position:absolute;
    right:20px;
    top:12px;
    display:block;
    line-height:24px;
    font-size:16px;
    font-weight:900;
    z-index:5;  
  }
  
  .main-menu .navigation > li.dropdown:hover > ul,
  .main-menu .navigation > li.dropdown:hover > .megamenu{
    visibility:visible;
    opacity:1;
    filter: alpha(opacity=100);
    top: 100%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  
  .main-menu .navigation li > ul > li.dropdown:hover > ul{
    visibility:visible;
    opacity:1;
    filter: alpha(opacity=100);
    top: 0%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0); 
  }
  
  .main-menu .navigation li.dropdown .dropdown-btn{
    position:absolute;
    right:-32px;
    top:66px;
    width:34px;
    height:30px;
    text-align:center;
    font-size:18px;
    line-height:26px;
    color:#3b3b3b;
    cursor:pointer;
    display: none;
    z-index:5;
    transition: all 500ms ease;
  }
  
  .main-menu .navigation li.current.dropdown .dropdown-btn,
  .main-menu .navigation li:hover .dropdown-btn{
    
  }
  
  .main-menu .navigation li.dropdown ul li.dropdown .dropdown-btn{
    display: none;
  }
  
  .menu-area .mobile-nav-toggler {
    position: relative;
    float: right;
    font-size: 40px;
    line-height: 50px;
    cursor: pointer;
    color: #3786ff;
    display: none;
  }
  
  .menu-area .mobile-nav-toggler .icon-bar{
    position: relative;
    height: 2px;
    width: 30px;
    display: block;
    margin-bottom: 5px;
    background-color: #ffffff;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .main-header.style-two .menu-area .mobile-nav-toggler .icon-bar{
    background-color: #222;
  }
  
  .menu-area .mobile-nav-toggler .icon-bar:last-child{
    margin-bottom: 0px;
  }

  /** mobile-menu **/

.nav-outer .mobile-nav-toggler{
    position: relative;
    float: right;
    font-size: 40px;
    line-height: 50px;
    cursor: pointer;
    color:#3786ff;
    display: none;
  }
  
  .mobile-menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right:30px;
    max-width:100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
    transition: all 900ms ease;
  }
  
  .mobile-menu .navbar-collapse{
    display:block !important; 
  }
  
  .mobile-menu .nav-logo{
    position:relative;
    padding:50px 25px;
    text-align:left;  
    padding-bottom: 100px;
  }
  
  .mobile-menu-visible{
    overflow: hidden;
  }
  
  .mobile-menu-visible .mobile-menu{
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-menu .menu-backdrop{
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 900ms ease;
    background-color: #000;
  }
  
  .mobile-menu-visible .mobile-menu .menu-backdrop{
    opacity: 0.70;
    visibility: visible;
    right: 100%;
    -webkit-transition: all .8s ease-out 0s;
    -o-transition: all .8s ease-out 0s
  }
  
  .mobile-menu .menu-box{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #061a3a;
    padding: 0px 0px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    border-radius: 0px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 900ms ease !important;
  }
  
  .mobile-menu-visible .mobile-menu .menu-box{
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  
  .mobile-menu .close-btn{
    position: absolute;
    right: 25px;
    top: 10px;
    line-height: 30px;
    width: 24px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
    -webkit-transition:all 0.9s ease;
    -moz-transition:all 0.9s ease;
    -ms-transition:all 0.9s ease;
    -o-transition:all 0.9s ease;
    transition:all 0.9s ease;
  }
  
  .mobile-menu-visible .mobile-menu .close-btn{
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
  }
  
  .mobile-menu .close-btn:hover{
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
  }
  
  .mobile-menu .navigation{
    position: relative;
    display: block;
    width: 100%;
    float: none;
  }
  
  .mobile-menu .navigation li{
    position: relative;
    display: block;
    border-top: 1px solid rgba(255,255,255,0.10);
  }
  
  .mobile-menu .navigation:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.10);
  }
  
  .mobile-menu .navigation li > ul > li:first-child{
    border-top: 1px solid rgba(255,255,255,0.10);
  }
  
  .mobile-menu .navigation li > a{
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
  }
  
  .mobile-menu .navigation li ul li > a{
    font-size: 16px;
    margin-left: 20px;
    text-transform: capitalize;
  }
  
  .mobile-menu .navigation li > a:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:0;
    border-left:5px solid #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
  }
  
  .mobile-menu .navigation li.current > a:before{
    height:100%;
  }
  
  .mobile-menu .navigation li.dropdown .dropdown-btn{
    position:absolute;
    right:6px;
    top:6px;
    width:32px;
    height:32px;
    text-align:center;
    font-size:16px;
    line-height:32px;
    color:#ffffff;
    background:rgba(255,255,255,0.10);
    cursor:pointer;
    border-radius:2px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
    z-index:5;
  }
  
  .mobile-menu .navigation li.dropdown .dropdown-btn.open{
    color: #ffffff;
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);  
  }
  
  .mobile-menu .navigation li > ul,
  .mobile-menu .navigation li > ul > li > ul,
  .mobile-menu .navigation > li.dropdown > .megamenu{
    display: none;
  }
  
  .mobile-menu .social-links{
    position:relative;
    padding:0px 25px;
  }
  
  .mobile-menu .social-links li{
    position:relative;
    display:inline-block;
    margin:0px 10px 10px;
  }
  
  .mobile-menu .social-links li a{
    position:relative;
    line-height:32px;
    font-size:16px;
    color:#ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
  }
  
  .mobile-menu .social-links li a:hover{
    
  }
  
  div#mCSB_1_container{
    top: 0px !important;
  }
  
  .mobile-menu .contact-info {
    position: relative;
    padding: 120px 30px 20px 30px;
  }
  
  .mobile-menu .contact-info h4 {
    position: relative;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .mobile-menu .contact-info ul li {
    position: relative;
    display: block;
    font-size: 15px;
    color: rgba(255,255,255,0.80);
    margin-bottom: 3px;
  }
  
  .mobile-menu .contact-info ul li a{
    color: rgba(255,255,255,0.80);
  }
  
  .mobile-menu .contact-info ul li a:hover{
    
  }
  
  .mobile-menu .contact-info ul li:last-child{
    margin-bottom: 0px;
  }
  
  .main-header .outer-box{
    position: relative;
  }

  
  